################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Зд по структурам 5/.vs/Зд по структурам 5
