################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/C++/Зд по условным операторам 4/.vs/Зд по условным операторам 4/v16
