################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ЛР8.3_СитИ/.vs/ЛР8.3_СитИ
/Зд по ООП 1/.vs/Зд по ООП 1/v17
